<h1>All the Math Problems!</h1>

<p><%= link_to "Create a new Math Problem", new_problem_path %></p>

<table>
  <tr>
    <th></th>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
    <th></th>
  </tr>

  <% @problems.each_with_index do |problem, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= problem.question %></td>
      <td><%= problem.answer %></td>
      <td><%= link_to "Edit", edit_problem_path(problem) %></td>
      <td><%= link_to "Destroy", problem_path(problem), method: :delete %></td>
    </tr>
  <% end %>
</table>