<%= form_for @exam do |f| %>
  <% if @exam.errors.any? %>
    <div class="error_explanation">
      <h3><%= pluralize(@exam.errors.count, "error") %> prevented this Quiz from being saved:</h3>
      <ul>
        <% @exam.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= f.label :title %></h3>
  <%= f.text_field :title %>

  <h2>Create Randomized problems for this Quiz:</h2>
  <strong>How many problems would you like to generate?</strong>
  <%= text_field_tag 'exam[number_of_problems]' %><br />
  <strong>How many Operands should each problem have?</strong>
  <%= text_field_tag 'exam[number_of_operands]' %><br />
  <strong>What Range should each Operand fall in?</strong>
  <%= text_field_tag 'exam[operand_min]' %> to <%= text_field_tag 'exam[operand_max]' %>

  <h3>Which Operators do you want included?</h3>
  <% @exam.possible_operators.each do |operator| %>
    <%= check_box_tag "exam[chosen_operators][]", operator %>
    <%= operator %><br />
  <% end %>

  <h2>Choose from Available Problems:</h2>
  <table>
    <tr>
      <th>Include</th>
      <th>Question</th>
      <th>Answer</th>
      <th></th>
    </tr>

    <% Problem.all.each do |prob| %>
      <%= f.fields_for "exam[problem_ids][]", prob do |builder| %>
        <tr>
          <td><%= check_box_tag "exam[problem_ids][]", prob.id, @exam.problems.include?(prob) %></td>
          <td><%= prob.question %></td>
          <td><%= prob.answer %></td>
          <td><%= link_to "Edit", edit_problem_path(prob) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>