<%= form_for @exam do |f| %>
  <% if @exam.errors.any? %>
    <div class="error_explanation">
      <h3><%= pluralize(@exam.errors.count, "error") %> prevented this Quiz from being saved:</h3>
      <ul>
        <% @exam.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= f.label :title %></h3>
  <%= f.text_field :title %>

  <h3>Available Problems:</h3>
  <table>
    <tr>
      <th>Include</th>
      <th>Question</th>
      <th>Answer</th>
      <th></th>
    </tr>

    <% Problem.all.each do |prob| %>
      <%= f.fields_for "exam[problem_ids][]", prob do |builder| %>
        <tr>
          <td><%= check_box_tag "exam[problem_ids][]", prob.id, @exam.problems.include?(prob) %></td>
          <td><%= prob.question %></td>
          <td><%= prob.answer %></td>
          <td><%= link_to "Edit", edit_problem_path(prob) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>