<h1>All the Quizzes!</h1>

<% if user_signed_in? && current_user.is_teacher %>
</p>
  <%= link_to "Create a new Quiz", new_exam_path %>
</p>
<% end %>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @exams.each_with_index do |exam, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><% if user_signed_in? && current_user.is_teacher %><%= link_to exam.title, exam_path(exam) %><% else %><strong><%= exam.title %></strong><% end %></td>
      <td><%= pluralize(exam.problems.count, "Question") %></td>
      <td><%= link_to "Take Quiz", take_exam_path(exam) %></td>
      <td><% if user_signed_in? && current_user.is_teacher %><%= link_to "Destroy", exam_path(exam), method: :delete %><% end %></td>
    </tr>
  <% end %>
</table>