<h1>All the Quizzes!</h1>

</p>
  <%= link_to "Create a new Quiz", new_exam_path %>
</p>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th></th>
    <th></th>
  </tr>

  <% @exams.each_with_index do |exam, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to exam.title, exam_path(exam) %></td>
      <td><%= pluralize(exam.problems.count, "Question") %></td>
      <td><%= link_to "Take Quiz", take_exam_path(exam) %></td>
    </tr>
  <% end %>
</table>