<h1>Here are your results!</h1>
<h2>for taking Quiz "<%= @exam.title %>"</h2>

<h3>You got <%= @exam_reporter.score %> out of <%= @exam_reporter.total_possible %>!</h3>

<table>
  <tr>
    <th>No.</th>
    <th>Question</th>
    <th>Correct Answer</th>
    <th>Your Answer</th>
  </tr>

  <% @exam_reporter.results.each_with_index do |current_result, index| %>
    <% if current_result.score == 0 %><tr class="bold"><% else %><tr><% end %>
      <td><%= index+1 %></td>
      <td><%= current_result.question %></td>
      <td><%= current_result.correct_answer %></td>
      <td><%= current_result.user_answer %></td>
    </tr>
  <% end %>
</table>

<h3><%= link_to 'Retake this Quiz', take_exam_path(@exam) %></h3>