<h1>Here are your results!</h1>
<h2>for taking Quiz "<%= @exam.title %>"</h2>
<h2>You got <%= @score %> out of <%= @results.length %>!</h2>

<ol>
  <% @results.each do |quest| %>
    <% if quest[2] %><strong><% end %><li><%= quest[0] %> = <%= quest[1] %></li><% if quest[2] %></strong><% end %>
  <% end %>
</ol>

<%= link_to 'Retake this Quiz', take_exam_path(@exam) %><br />
<%= link_to 'Back to Quiz List', exams_path %>