<h2><%= @exam.title %></h2>

<h3>Questions in this Quiz:</h3>

<table>
  <tr>
    <th>No.</th>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
  </tr>

  <% @exam.problems.each_with_index do |prob, index| %>
    <tr>
      <td><%= index+1 %>
      <td><%= prob.question %></td>
      <td><%= prob.answer %></td>
      <td><%= link_to "Edit", edit_problem_path(prob) %></td>
    </tr>
  <% end %>
</table>

<h3><%= link_to "Edit this Quiz", edit_exam_path(@exam) %></h3>
<h3><%= link_to "Destroy this Quiz", exam_path(@exam), method: :delete, data: { confirm: "Are you sure?" } %></h3>