<h1>We're taking a Quiz!</h1>
<h2><%= @exam.title %></h2>

<%= form_tag(result_exam_path, method: "post") do %>
  <table>
    <tr>
      <th>No.</th>
      <th>Question</th>
      <th></th>
      <th></th>
    </tr>

    <% @exam.problems.each_with_index do |prob, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= label_tag prob.question %></td>
        <td> = </td>
        <td><%= text_field_tag 'answers[]' %></td>
      </tr>
    <% end %>
  </table>

  <%= submit_tag("Submit!") %>
<% end %>